:80 {
    tls off
    proxy / localhost:3000 {
      websocket
      header_upstream Host {host}
      header_upstream X-Real-IP {remote}
      header_upstream X-Forwarded-Proto {scheme}
    }

    proxy /graph localhost:4000 {
      websocket
      header_upstream Host {host}
      header_upstream X-Real-IP {remote}
      header_upstream X-Forwarded-Proto {scheme}
    }

    proxy /auth localhost:4000 {
      websocket
      header_upstream Host {host}
      header_upstream X-Real-IP {remote}
      header_upstream X-Forwarded-Proto {scheme}
    }

    proxy /health localhost:4000 {
      websocket
      header_upstream Host {host}
      header_upstream X-Real-IP {remote}
      header_upstream X-Forwarded-Proto {scheme}
    }
    
    proxy /upload localhost:4000 {
      websocket
      header_upstream Host {host}
      header_upstream X-Real-IP {remote}
      header_upstream X-Forwarded-Proto {scheme}
    }
}
